{% extends 'components/base.html' %}

{% block content %}

    <div class="w-100 d-flex align-items-center justify-content-center vh-100" style="margin-top: -10rem;">
        <div style="width: 400px; padding: 1rem;">

            <div class="text-center">
                <h2 class="my-5">Change Your Password</h2>
            </div>

            <div class="card shadow">
                <div class="card-body">
                    <form class="p-1" method="post">

                        {% csrf_token %}

                        <label for="new-password-1">New Password</label>
                        <input id="new-password-1" class="form-control" name="password1" type="password" required/>

                        <br/>

                        <label for="new-password-2">Confirm New Password</label>
                        <input id="new-password-2" class="form-control" name="password2" type="password" required/>

                        <div class="text-center">
                            <button class="btn btn-success mt-4 fw-bold" type="submit">Change Password</button>
                        </div>

                        <input type="text" value="{{ uid }}" name="uid" hidden/>
                        <input type="text" value="{{ token }}" name="token" hidden/>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block footer %}

    <footer id="footer">
        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>KitabGhar</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a target="_blank" href="https://nikeshvarma.netlify.com">Nikesh Varma</a>
            </div>
        </div>
    </footer>

{% endblock %}