{% extends 'components/base.html' %}

{% block content %}

    <div class="w-100 d-flex align-items-center text-center justify-content-center vh-100" style="margin-top: -10rem;">
        <div style="width: 400px; padding: 1rem;">
            <h2 class="text-center my-5">Forgot Your Password ?</h2>
            <div class="card shadow">
                <div class="card-body">
                    <p class="card-text"> Enter your email address and we'll send you a link to reset your password. </p>
                    <hr/>
                    <form class="p-3" method="post" action="{% url 'forgot_pass_request' %}">
                        {% csrf_token %}
                        <input class="form-control" id="email" name="email" placeholder="Email Address" type="email"
                               required/>
                        <div class="valid-feedback"></div>
                        <button class="btn btn-primary mt-4 fw-bold" type="submit">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block footer %}

    <footer id="footer">
        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>KitabGhar</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a target="_blank" href="https://nikeshvarma.netlify.com">Nikesh Varma</a>
            </div>
        </div>
    </footer>

{% endblock %}
