<footer id="footer">

    <hr class="pb-0 mb-0"/>

    <div class="footer-top" style="padding-top: 2rem; padding-bottom: 0;">
        <div class="container">
            <div class="row justify-content-between align-items-baseline">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>KitabGhar</h3>
                    <p>
                        46, Gokuldham Colony <br>
                        Burhanpur, M.P. 450331<br>
                        India <br><br>
                        <strong>Phone:</strong> +91 8871772642<br>
                        <strong>Email:</strong> nikeshvarma50@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links d-none d-md-block">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Books</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links d-none d-md-block">
                    <h4>Knowledge Category</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Novel</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Biography</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Journals</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Course Books</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">UPSC</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Follow Us On</h4>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>KitabGhar</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a target="_blank" href="https://nikeshvarma.netlify.com">Nikesh Varma</a>
        </div>
    </div>
</footer>